
h1 {

text-align: center;
}
#tekst {
text-align: justify;
width: 60%;
float:left;
background-color:rgba(128,128,128,0.5);

border:2px solid;
}
 body {
background-image: url(https://bi.im-g.pl/im/f2/ff/14/z22017010IER,Kazik-Staszewski.jpg);
background-repeat: no-repeat;
opacity:0.8;
background-attachment:fixed;
background-size:100%;

}

.dysc {
width: 38%;
float:right;
right:4;
background-color:rgba(128,128,128,0.5);

border:2px solid;

}	
.dol {
    clear:left;
    
}

	